<% if signed_in? %>
  <div class="row">
    <div class="span4">    
	<section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
		<p>
		<h6>Shared posts</h6>
        <%= render 'shared/micropost_form' %>
      </section>
 </div>
	<div class="span8">
	<h1 class="micropost">What's up?</h1>	
      <%= render 'shared/feed' %>
</div>
</div>
<% else %>
  <h1>Welcome</h1>

  <p>
    This is the home page for the
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </p>

  <%= link_to "Sign up now!", signup_path, :class => "btn btn-large btn-primary" %>
<% end %>

