<h1>Edit Trail Settings</h1>
<%= form_for(@trail) do |f| %>
	<%= render 'form', :f => f %>
	<p><br>
	<%= f.submit "Update Trail", :class => "btn" %>
	<%= link_to "Cancel", @trail, :class => "btn" %>
	<%= link_to "Delete Trail", @trail, 	 :class => "btn btn-danger",
									 		:method => :delete,
                                     		:confirm => "You sure you want to delete this trail?",
                                     		:title => @trail.title %>
<% end %>