<% provide(:title, @trail.title) %>
<aside class="span5">
	<h6>CREATOR: <%= current_user.name %> | index: <%= @trail.user_id %> | creation index:<%= @trail.creation_id %></h6>
	<h3><%= @trail.title %></h3>

	<p>	<%= @trail.description %>

	<p>	<%= @trail.twitter %>
	<p>	<%= link_to "Edit Trail Settings", edit_trail_path, :class => "btn" %>
		
	
  </aside>
